<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
            
                <li class="menu-title" key="t-menu">Facturation CDR</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                   {#      <i class="bx bx-home-circle"></i> #}
                      {#   <span class="badge rounded-pill bg-info float-end">04</span> #}
                        <span key="t-dashboards">CDR Worker</span>
                          <span class="badge rounded-pill bg-info float-end">Running</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                {#         <li><a href="/" key="t-default">Maintenance</a></li> #}
{#                        <li><a href="{{ path("app_cdr_tarif_numero_speciaux_index") }}" key="t-saas">Tarif numero speciaux</a></li>#}
{#                        <li><a href="{{ path("app_cdr_tarif_destination_index") }}" key="t-saas">Tarif destination</a></li>#}
{#                        <li><a href="{{ path("app_cdr_zones_index") }}" key="t-saas">Gerer les zones</a></li>#}
{#                        <li><a href="{{ path("app_cdr_pays_index") }}" key="t-saas">Gerer les pays (commun)</a></li>#}
        
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">FTP Worker</span>
                         <span class="badge rounded-pill bg-info float-end">Running</span> 
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
{#                        <li><a href="{{ path("app_cdr_ftp_entries_index") }}" key="t-saas">Gestion entres FTP</a></li>#}
{#                          <li><a href="{{ path("app_cdr_ftp_sync_files_index") }}" key="t-saas">Syncronisation FTP</a></li>#}

                    </ul>
                </li>



                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Invoice Worker</span>
                         <span class="badge rounded-pill bg-info float-end">Running</span> 
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                     {#    <li><a href="{{ path("app_cdr_tarif_numero_speciaux_index") }}" key="t-saas">Services</a></li>
                         <li><a href="{{ path("app_cdr_tarif_numero_speciaux_index") }}" key="t-saas">Abonements</a></li>
                        <li><a href="{{ path("app_cdr_tarif_numero_speciaux_index") }}" key="t-saas">Factures generer</a></li>
                          <li><a href="{{ path("app_cdr_tarif_numero_speciaux_index") }}" key="t-saas">Liste factures(clients)</a></li>
#}
                    </ul>
                </li>
{# 
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Layouts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-vertical">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="layouts-light-sidebar" key="t-light-sidebar">Light Sidebar</a></li>
                                <li><a href="layouts-compact-sidebar" key="t-compact-sidebar">Compact Sidebar</a></li>
                                <li><a href="layouts-icon-sidebar" key="t-icon-sidebar">Icon Sidebar</a></li>
                                <li><a href="layouts-boxed" key="t-boxed-width">Boxed Width</a></li>
                                <li><a href="layouts-preloader" key="t-preloader">Preloader</a></li>
                                <li><a href="layouts-colored-sidebar" key="t-colored-sidebar">Colored Sidebar</a></li>
                                <li><a href="layouts-scrollable" key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-horizontal">Horizontal</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="layouts-horizontal" key="t-horizontal">Horizontal</a></li>
                                <li><a href="layouts-hori-topbar-light" key="t-topbar-light">Topbar light</a></li>
                                <li><a href="layouts-hori-boxed-width" key="t-boxed-width">Boxed width</a></li>
                                <li><a href="layouts-hori-preloader" key="t-preloader">Preloader</a></li>
                                <li><a href="layouts-hori-colored-header" key="t-colored-topbar">Colored Header</a></li>
                                <li><a href="layouts-hori-scrollable" key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
 #}


            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->